[
  {
    "relation": ["delegate_permission/common.handle_all_urls"],
    "target": {
      "namespace": "android_app",
      "package_name": "io.github.victoruchiha0931_boop.twa",
      "sha256_cert_fingerprints": [
        "COLOQUE_SEU_SHA256_AQUI"
      ]
    }
  }
]
